.card 
  .card-header 
    .fa.fa-user
    - if user.online?
      .text-success.fa.fa-circle
    - else
      .text-danger.fa.fa-circle
    = user.email
  .card-footer
    Confirmed email?
  - if user.confirmed_at.present?
    .badge.badge-success Yes
  - else
    .badge.badge-danger No
    Вход
    = time_ago_in_words(user.created_at)
    ago
  .card-footer
    = user.sign_in_count
    = user.current_sign_in_at
    = user.last_sign_in_at
    = user.current_sign_in_ip
    = user.last_sign_in_ip
