.card 
  .card-header 
    .fa.fa-user
    = user.email
  .card-footer
    Вход
    = time_ago_in_words(user.created_at)
    ago
  .card-footer
    = user.sign_in_count
    = user.current_sign_in_at
    = user.last_sign_in_at
    = user.current_sign_in_ip
    = user.last_sign_in_ip
