.jumbotron
  .display-4
    Что учить будем сегодня?

.form-inline.my-2.my-lg-0
  = form_tag(courses_path, method: :get) do
    .input-group
      = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search", class: 'form-control-sm'
      %span.input-group-append
        %button.btn.btn-primary.btn-sm{:type => "submit"}
          %span.fa.fa-search{"aria-hidden" => "true"}

.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count
    Онлайн курсы
    .row
    Количество наших курсов
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
    = Course.distinct.count(:user_id)
    Преподователи
    .row
    Количество наших учителей
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = User.count
    Количество студентов
    .row
    Кто сейчас учит
  .card.card-body
    %h1
      .fa.fa-infinity
    = User.count
    Количество студентов
    .row
    Кто сейчас учит


%hr
Популярные курсы
.card-colums 
  - @courses.each do |course|
    = render 'courses/course', course: course
%hr
Лучшие курсы
.card-colums
  - @courses.each do |course|
    = render 'courses/course', course: course
%hr
Больше всего отзывов
%hr

= link_to courses_path, class: 'btn btn-success btn-white' do
  .fa.fa-book 
  Курсы
