.card 
  .card-container 
    .fa.fa-graduation-cap
    = link_to course.title, course_path(course)
  .card-body 
    = course.description
  .card-footer
    .fa.fa-globe-africa
    = course.language
    = course.level
    = course.price
    = course.created_at
    = number_to_currency(course.price)
    .row
    .fa.fa-chalkboard-teacher
    = course.user.username
  .card-fouter  
    = link_to 'Открыть', course, class: 'btn btn-sm btn-primary btn-white'
    = link_to 'Редактировать', edit_course_path(course), class: 'btn btn-sm btn-warning btn-white'
    = link_to 'Удалить', course, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-sm btn-danger btn-white'
