.card 
  .card-container 
    .fa.fa-book
    = link_to course.title, course_path(course)
  .card-body 
    = course.description
  .card-footer
    .far.fa-clock
    = course.created_at
    .row
    .fa.fa-chalkboard-teacher
    = course.user
  .card-fouter  
    = link_to 'Открыть', course, class: 'btn btn-sm btn-primary'
    = link_to 'Редактировать', edit_course_path(course), class: 'btn btn-sm btn-warning'
    = link_to 'Удалить', course, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-sm btn-danger'
