.card 
  .card-container 
    .fa.fa-graduation-cap
    = link_to course.title, course
  .card-body 
    = course.description
  .card-footer
    .fa.fa-globe-africa
    = course.language
    = course.level
    = course.price
    = course.created_at
    = course.lessons.count
    = number_to_currency(course.price)
    .row
      .fa.fa-chalkboard-teacher
      = course.user.username
  - if policy(course).edit?
    .card-footer
      /- if policy(course).edit?
      = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning'
      /- if policy(course).destroy?
      = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
