= render 'courses/course', course: @course

%p#notice= notice

%p
  %b Название:
  = @course.title
%p
  %b Описание:
  = @course.description
.col-lg-6
  = link_to 'Add lesson', new_lesson_path(course_id: @course.id)
  - @lessons.each do |lesson|
    = render 'lessons/lesson', lesson: lesson

= link_to 'Редактировать', edit_course_path(@course)
\|
= link_to 'Назад', courses_path
